* {
    margin: auto;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #83E1AD;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background: linear-gradient(#3CD983, #1A5C38);
    color: white;
    padding-top: 30px;
}

h1 {
    text-align: center;
    color: white;
}

h1,
span {
    font-family: 'Bebas Neue', cursive;
}

header p {
    text-align: center;
    margin-top: 15px;
}

a {
    color: white;
}

nav #first ul {
    display: flex;
}

nav #first ul li {
    margin: 10px;
    list-style: none;
}

nav #first ul li a {
    text-decoration: none;
}

main {
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 10px;
}

h2,
h3 {
    color: #1A5C38;
    font-family: 'Android', sans-serif;
}

h3 {
    background-color: #C7ECD8;
    margin-top: 25px;
}

main p {
    text-align: justify;
}

main p span {
    color: #1A5C38;
    font-weight: bolder;
}

#center {
    margin-left: 250px;
}

img,
iframe {
    margin: auto;
    padding: auto;
    text-align: center;
}

iframe {
    background-color: #1A5C38;
    width: 100%;
}

div {
    background-color: #C5EBD6;
}

div h1 {
    background-color: #2FA866;
}

#first { 
    display: flex;
    list-style: none;
}